body, input, textarea, select, button, table, th, td, pre {
    color: #000;
    font-family: notokrL, gothamL, playfair;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100;
}

.footer .footArea {
    position: relative;
    width: 1400px;
    height: 370px;
    margin: 0 auto;
    padding: 150px 0 0 280px;
}

.footer .footArea .hotelList {
    position: absolute;
    left: 0;
    top: 60px;
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.footer .footArea .hotelList ul > li.josunpalace > a {
    width: 68px;
    background: url('/photo/josu.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li.wchosunseoul > a {
    width: 160px;
    background: url('/photo/westinjosun.png');
}

.footer .footArea .hotelList ul > li.wchosunbusan > a {
    width: 160px;
    background: url('/photo/westinjosunbusan.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li.grandjosun > a {
    width: 70px;
    background: url('/photo/grandjosunbusan.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li:first-child {
    margin-left: 0;
}

.footer .footArea .hotelList ul > li.lescape > a {
    width: 80px;
    background: url('/photo/Lescape.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li.grandjosunjj > a {
    width: 70px;
    background: url('/photo/grandjosunjeju.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li.gravity > a {
    width: 90px;
    background: url('/photo/gravity.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li.fourpoints > a {
    width: 103px;
    background: url('/photo/fourpoints.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li.fourpointsmd > a {
    width: 103px;
    background: url('/photo/fourpoints2.png') no-repeat 0 0;
}

.footer .footArea .hotelList ul > li {
    display: inline-block;
    margin-left: 50px;
    height: 38px;
    overflow: hidden;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footArea .logo {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 156px;
    text-indent: -9999px;
    overflow: hidden;
    width: 130px;
    height: 64px;
    background: url('./static/photo/josunresort.png') no-repeat 0 0;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, form, fieldset, legend, input, textarea, button, select, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    word-wrap: break-word;
}

a, button {
    cursor: pointer;
}

l, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown_list {
    display: inline-block;
    min-width: 230px;
    position: absolute;
    right: 0;
    top: 140px;
    z-index: 999;
}

.footer .snsArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 7px;
    top: 210px;
    z-index: 1;
}

.footer .snsArea > div {
    width: 36px;
    min-width: 36px;
    height: 36px;
    margin-left: 24px;
}

.footer .snsArea > div:first-child {
    margin-left: 0;
}

.footer .snsArea > div.icoJosun {
    background: transparent url('/photo/j.png') center center/100% no-repeat;
}

.footer .snsArea > div.icoKakao {
    background: transparent url('/photo/kakaoch.png') center center/100% no-repeat;
}

.footer .snsArea > div.icoInsta {
    background: transparent url('/photo/insta.png') center center/100% no-repeat;
}

.footer .snsArea > div.icoYoutube {
    background: transparent url('/photo/youtube.png') center center/100% no-repeat;
}

.footer .footArea .address {
    font: 400 14px/1.8 notokrL;
    color: #fff;
    opacity: .5;
    margin-top: 20px;
}

.footer .footArea .copyright {
    font: 400 14px/1.8 gothamL;
    color: #fff;
    opacity: .5;
}

.footer .footArea .hotelList ul > li > a {
    display: block;
    text-indent: -9999px;
    height: 38px;
}

ul:after, ol:after {
    content: '';
    display: block;
    clear: both;
}

.footer .footArea .logo a {
    display: block;
    height: 64px;
}

.footer .footArea .infoPolicy a {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    margin-right: 25px;
}

.footer .footArea .infoPolicy a.pointColor {
    color: #989442;
}

.footer .footArea .infoPolicy a:last-child {
    margin-right: 0;
}

.dropdown_list {
    display: inline-block;
    min-width: 230px;
    position: absolute;
    right: 0;
    top: 140px;
    z-index: 999;
}

.dropdown_list .dropdown_value {
    position: relative;
}

.dropdown_list .dropdown_value input[type="text"] {
    width: 100%;
    font: 400 16px gothamL;
    color: #fff;
    opacity: .8;
    background: #000;
    border-bottom: 1px solid #4d4d4d;
    height: 40px;
    padding: 11px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.dropdown_list .dropdown_value .btn_opener {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.dropdown_list .dropdown_value .btn_opener i {
    float: right;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 9px;
    overflow: hidden;
}

i {
    font-style: italic;
}

.dropdown_list .dropdown_value .btn_opener i:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: -3px;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
}

.dropdown_list .item_list {
    display: none;
    position: absolute;
    bottom: 45px;
    left: 0;
    z-index: 10;
    width: 100%;
    border: 1px solid #4d4d4d;
    background: #000;
    padding: 12px 0;
}
`
:root {
    --swiper-navigation-size: 44px;
     --swiper-navigation-color: var(--swiper-theme-color);
}

:root {
    --swiper-theme-color: #000;
}

a {
    box-sizing: border-box;
    text-decoration: none;
}