
/*전체 적용 */

/*태그 밑줄 제거*/
.header a {
   /* color: inherit; /* 상속된 부모 요소의 텍스트 색상을 현재 요소에 적용하는 CSS*/
    text-decoration: none;
    box-sizing: border-box;
    /* padding과 border의 크기도 포함하여 요소의 크기를 계산,  크기를 미리 예측하고 조절 (큰차이는 모르겠음) */
}

/*커서*/
.header a, .header button{
    cursor: pointer;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header button, .main button {
    box-sizing: border-box;
    background: none;
}




/* 전체 header div, 고정, 배경색 하얗게*/
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    height: 100px;

}

.white_header{
    color: #fff;
    background: transparent;
    font-weight: bold;
}


.black_header{
    color: #000;
    background: #fff;
    font-weight: bold;
}

.white_li{
    color: #fff;
    font-weight: bold;
}
.white_li:hover{
    color: #fff;
    font-weight: bold;
}
.black_li{
    color: #000;
}

.black_li:hover{
    color: #000;
}

.header .headArea {
    position: relative;
    padding: 0 50px;
    height: 100px;
}

body > .wrapper {
    height: auto;
    min-height: 100%;
}

.header .wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 0px;
    min-width: 1500px;
    overflow-x: auto;
}




.header ul:after {
    content: '';
    display: block;
    clear: both;
}

/*상품찾기 전체 div 위치*/
.topUtil {
    position: absolute;
    left: 110px;
    left: 110px;
    top: 33px;
}

/* 상품찾기 */
.topUtil .hotelFind {
    font-size: 11px;
}

/*회원가입,로그인*,예약확인 div 위치*/
.gnbUtil {
    position: absolute;
    right: 50px;
    top: 30px;
}

.gnbUtil > ul {
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
}

.gnbUtil > ul > li:first-child {
    margin-left: 0;
}

.gnbUtil > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 14px;
}

.gnbUtil > .resvBtn {
    display: inline-block;
    margin-left: 25px;
    margin-right: 15px;
}

.gnbUtil > .resvBtn .dropdown_list {
    display: inline-block;
    min-width: auto;
    width: 100px;
    position: relative;
    right: auto;
    top: auto;
    z-index: 1;
}


/* 3줄 메뉴 */
.header .btnMenu {
    display: block;
    position: absolute;
    left: 50px;
    top: 30px;
    z-index: 1;
    text-indent: -9999px;
    overflow: hidden;
    width: 35px;
    height: 35px;
    margin: 0 auto; /*  수평 방향으로 가운데로 정렬 */
    transition: .5s; /* 0.5초 동안 애니메이션 부드럽게 */
    border: none; /*테두리 박스 없애기*/
}

/*3줄 메뉴 (white)*/
.white_btnMenu{
   background: url(https://kr.object.ncloudstorage.com/dreamsstaybucket/btn_menu.png) no-repeat -35px 0 !important;
    background-position: 0 0 !important;
}

/*3줄 메뉴*(black)*/
.black_btnMenu{
    background: url(https://kr.object.ncloudstorage.com/dreamsstaybucket/btn_menu.png) no-repeat -35px 0 !important;
    background-position: -35px 0 !important;
}


.btnMenulist{
    display: none;
    position: absolute;
    top: 100px;
    background-color: black;
    width: 100%;
    height: 900px;
    z-index: 9999 !important;
    left: 0;
    overflow: hidden !important;

}


.header .dropdown_list.open .item_list {
    display: block;
    /*  .dropdown_list 클래스가 open 클래스를 포함하고 있는 경우, 그 하위 요소인 .item_list 클래스를 블록 레벨 요소로 표시 */
    /* 자바스크립트로 toggle open 효과 줬음 지우면 list 안보임*/
}

.header .dropdown_list .item_list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: #fff;

}

.header .dropdown_list .item_list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #968a8b !important;
}

/*resurve 버튼css*/
.btn_opener{
    padding: 8px;
    width: 120px;
    font-size: 13px;

}

.white_btn_opener{
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
}

.black_btn_opener{
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
}

#header_notice_board {
    cursor: pointer;
}
