.bg_imgs01{
    width: 100%; height: 300px;

    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url("https://www.josunhotel.com/static/home/images/ko/pc/HUMA/bg_main01.jpg");
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed !important; /* 스크롤바 움직일때 이미지가 따라다님 */
}
.bg_imgs04{
    width: 100%; height: 300px;

    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url("https://www.josunhotel.com/static/home/images/ko/pc/HUMA/bg_main02.jpg");
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed !important;/* 스크롤바 움직일때 이미지가 따라다님 */
}