/*배경이미지 css*/
.bg_imgs01{
    width: 100%; height: 300px;

    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url("https://www.josunhotel.com/static/home/images/ko/pc/HUMA/bg_main01.jpg");
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed !important; /* 스크롤바 움직일때 이미지가 따라다님 */
}
.bg_imgs04{
    width: 100%; height: 300px;

    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url("https://www.josunhotel.com/static/home/images/ko/pc/HUMA/bg_main03_03.jpg");
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed !important;/* 스크롤바 움직일때 이미지가 따라다님 */
}
.bg_imgs03{
    width: 100%; height: 300px;

    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url("https://www.josunhotel.com/static/home/images/ko/pc/HUMA/bg_main01_01.jpg");
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed !important;/* 스크롤바 움직일때 이미지가 따라다님 */
}


/*메인 css*/
a:visited { color: black; text-decoration: none;}
/*메인타이틀 css*/
#main_txt{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 70px;
}
/*메인 아래 기능들 css*/
.main_mini_dl{
    height: 64px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    justify-content: space-between;
}
/*기능들 넓이 css*/
#main_mini_dl_01{
    width: 205px;
}

#main_mini_dl_02{
    width: 300px;
    padding: 0px 30px;
}
#main_mini_dl_03{
    width: 380px;
    padding: 0px 30px;
}
#main_mini_dl_04{
    width: 270px;
    padding: 0px 30px;
}

#main_mini_dl_01_room{
    color: #ffffff;
    width: 205px;
    padding: 0px;
    font-size: 20px;
}
#main_mini_dl_02_hotel{
    width: 300px;
}
#main_mini_dl_03_check{
    width: 380px;
}

#main_mini_dl_04_room01{
    font-size: 25px;
    color: #ffffff;
}
#main_mini_dl_04_room02{
    font-size: 25px;
    color: #ffffff;
}#main_mini_dl_04_room03{
     font-size: 25px;
     color: #ffffff;
 }

/*기능들을 감싸는 div css*/
#main_border_01{
    border-right: 2px solid #c8c8c8;
    width: 205px;
    line-height: 30px;
}
#main_border_02{
    border-right: 2px solid #c8c8c8;
    width: 300px;
    padding: 0px 30px;
    padding-left: 0px;
    line-height: 30px;
}
#main_border_03{
    border-right: 2px solid #c8c8c8;
    width: 380px;
    padding: 0px 30px;
    line-height: 30px;
}
#main_border_04{
    width: 270px;
    padding: 0px 0px 0px 30px;
    justify-content: space-between;
    line-height: 30px;

}
/*div 간격 css*/
#room_select01{
    justify-content: space-between;
    width: 70px;
    display: inline-block;
}
#room_select02{
    justify-content: space-between;
    width: 70px;
    display: inline-block;
}
#room_select03{
    justify-content: space-between;
    width: 70px;
    display: inline-block;
}
/*검색버튼 css*/
#search_box{
    color: #ffffff;
    font-size: 20px;
    border: 2px solid #ffffff;
    padding-left: 35px;
    padding-right: 35px;
    height: 64px;
    width: 165px;
    text-align: center;
    line-height: 32px;
    margin-left: 25px;
    margin-bottom: 40px;
    font-weight: bold;
    position: relative;
    top:0;
    left: 15px;
    vertical-align: middle;
    transition: 0.6s;
}
#search_box:hover{
    color: black;
    background-color: #ffffff;
}

/*기능들 겹치는 부분 클래스로 통합*/
.op_select{
    text-align: center;
}

.main_mini_dl_main_txt{
    color: #ffffff;
    font-size: 20px;

}
.main_mini_dl_sub{
    color: rgba(200,200,200,1);
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
    height: 0;
    display: inline-block;

}
/*스크롤아이콘 css(마우스모양)*/
.txt-scroll{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    display: block;
    font-size: 13px;
    position: relative !important;
}
.arrows-scroll{
    margin: 0px 18px;

}
.icon-scroll {
    text-align: center;
    display: block;
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 43%;
    margin-left: 150px;
    transform: translateX(-50%);
    z-index: 9999;
    position: relative !important;
    top: 31%;
}
.icon-scroll .arrows-scroll span {
    display: block;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: 1px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate( -45deg );
    animation: scrollDown 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.icon-scroll .arrows-scroll span:nth-of-type(3) {
    animation-delay: .3s;
}
.icon-scroll .arrows-scroll span:nth-of-type(2) {
    bottom: 7px;
    animation-delay: .15s;
}
.icon-scroll .arrows-scroll span:nth-of-type(1) {
    bottom: 14px;
    animation-delay: 0s;
}
@keyframes scrollDown {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*2번페이지 시작*/
.one_page{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.one_cont{
    display: inline-block;
    padding: 30px;
    position: relative;
    width: 430px;
    height: 550px;
}
/*슬라이드 화살표 색 변경*/
.fp-controlArrow{
    background-color: rgba(0,0,0,0);
}
.fp-controlArrow.fp-next{
    right: 150px !important;
    border-color: transparent transparent transparent #000000 !important;
}
.fp-controlArrow.fp-prev{
    left: 150px !important;
    border-color: transparent #000000 transparent transparent !important;
}
/*슬라이드 css*/
#cont_01_01{
    margin-right: 5px;
}
#cont_01_02{
    margin-right: 5px;
}
#cont_02_01{
    margin-right: 5px;
}
#cont_02_02{
    margin-right: 5px;
}
/*슬라이드 이미지 크기*/
.one_cont_imgs{
    height: 250px;
    width: 360px;
    float: left;
}
.one_cont:hover .one_cont_main_txt{
    opacity: 1;
}
.one_cont_main_txt{
    color: #fff;
    position: absolute; left: 31px; bottom: 270px;
    background: rgba(0,0,0,0.3);
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    width: 360px;
    height: 250px;
    line-height: 220px;
    font-weight: bold;
}

.one_cont_sub_txt{
    text-align: left;
}
.one_cont_sub_txt h2{
    font-weight: bold;
    width: 360px;
    padding-top: 300px;
    height: 380px;
}
.one_cont_sub_txt div{
    width: 360px;
}
.one_cont_sub_txt.one_cont_sub_color_txt{
    color: #ffffff;
    padding: 0 20px;
    border: 1px solid #ffffff;
    display: inline-block;
    float: left;
    font-weight: bold;
}
#one_cont_sub_color01{
    background-color: #2e6781;
}
#one_cont_sub_color02{
    background-color: #968a8b;
}
#one_cont_sub_color03{
    background-color: #ac9652;
}
#one_cont_sub_color04{
    background-color: #1f453b;
}
#one_cont_sub_color05{
    background-color: #968a8b;
}
#one_cont_sub_color06{
    background-color: #2e6781;
}
#one_cont_sub_color07{
    background-color: #3e97d3;
}