/* 제목 */
.u_info .u_title {
    /*border: 1px solid green;*/
    font-size: 30px;
    font-weight: revert;
    letter-spacing: -1.5px;
    height: 50px;
    margin-top: 10px;
}

.u_info span{
    font-family: 'Carlito', sans-serif;
    font-weight: bold;
}

/* 부제목 */
.u_info .u_information {
    margin-top: 10px;
}

/* 로그인한 회원 */
.u_info .u_username {
    /*border: 1px solid blue;*/
    margin-top: 10px;
    font-weight: lighter;
}

/* 아래 나오게 설정 */
.u_info .u_phone {
    display: flex;
    margin-top: 40px;
    /*border: 1px solid black;*/
    width: 800px;
    height: 30px;
}

/* 위와 동일 */
.u_info .u_phone span {
    margin-bottom: 10px;
}

/* 휴대폰 입력*/
.u_info .u_phonein {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    font-weight: lighter;
}

/* 이름 수정 타이틀 */
.u_info .u_name1 {
    margin-top: 30px;
}

/* 이름 수정 div */
.u_info .u_name2{
    top: 60px;
    /*border: 1px solid green;*/
}

.u_info .u_name1 .last_name{
    margin-left: 320px;
}

/* LAST NAME 위치 */
.u_info .u_name2 .ch_name2{
    margin-left: 20px;
}

/* 이름 수정 text 따로 설정 */
.u_info .u_name2 input[type=text]{
    width: 400px;
}

input[type=text]{
    font-size: 17px;
    font-weight: lighter !important;
}

input[type=email]{
    font-weight: lighter;
}

/* 텍스트타입 디자인 */
.u_info input[type=text] {
    width: 500px;
    height: 50px;
    margin-top: 10px;
    flex: 1;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    background: none;
    position: relative;
    font-weight: lighter;
}

/* input */
input:focus {
    outline: none;
}

.u_info .u_addr{
    margin-top: 40px;
}

.u_info .u_email{
    margin-top: 40px;
}

.u_info .up_btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.u_info .up_btn .update_btn{
    font-size: 15px;
    border-color: #000000;
    border-width: thin;
    width: 200px;
    background-color: black;
    height: 60px;
    color: white;
    cursor: pointer;
}