.up_pass .ps_title p {
    font-size: 30px;
}

.up_pass .ps_pass {
    /*border: 1px solid pink;*/
    width: 700px;
    height: 100px;
    margin-top: 50px;
    font-weight: 500;
}

/* 새로운 비밀번호 입력 틀 */
.up_pass .ps_passck {
    /*border: 1px solid brown;*/
    width: 920px;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

/* new ps , con ps 간격*/
.up_pass .con_pass{
    margin-left: 20px;
}

/* 글씨 굵기 */
.up_pass .ps_passck p {
    margin-bottom: 10px;
    font-weight: 500;
}

/* input password 디자인 */
.up_pass input[type=password] {
    width: 450px;
    height: 40px;
    flex: 1;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    background: none;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    font-size: 15px;
}

/* input 디자인 */
input:focus {
    outline: none;
}

.up_pass .ps_pass span {
    font-size: 15px;
    margin-left: 20px;
}

.up_pass .ps_pass span {
    color: #aaaaaa;
}

.up_pass .ps_bottom {
    margin-top: 15px;
}

.up_pass .ps_sub {
    color: #aaaaaa;
}

.up_pass .upbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
    /* 버튼 디자인 */
.up_pass .upbtn .updatebtn {
    width: 200px;
    height: 60px;
    padding: 0 25px;
    font-size: 15px;
    letter-spacing: -.01em;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
    border: thin solid #000000;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.up_pass .upbtn .updatebtn:hover {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background-color: white;
    color: black;
}


/* asdf*/