body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

#hoteldetail_box {
    font-family: 'GmarketSansMedium';
    width: 1200px;
    margin: 180px auto 0 auto;
}

.hoteldetail_slidebox {
    width: 1200px;
    height: 700px;
    margin-bottom: 20px;
}

.hoteldetail_photo {
    width: 1200px;
    height: 700px;
    cursor: pointer;
}

#hoteldetail_selectbox {
    width: 1200px;
    height: 100px;
}

.hoteldetail_selectPhoto {
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.detail_span{
    display: block;
}

#detail_room_subjectbox {
    width: 1200px;
    margin: 0 auto 0 auto;
}

#hoteldetail_title {
    font-size: 20px;
    font-weight: bold;
    margin: 80px 0 10px 0;

}

#hoteldetail_subtitle {
    margin-bottom: 40px;
    color: #333333;
}

.detail_room_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_room_photo {
    width: 500px;
    height: 300px;
    cursor: pointer;
}

.detail_room_slickSlider{
    width: 500px;
    height: 300px;
    margin: 25px 50px 25px 50px;
}

.detail_room_info {
    width: 500px;
    height: 300px;
    margin: 50px 50px 50px 50px;
}

.hoteldetail_room_type{
    font-size: 25px;
    margin-bottom: 10px;
}

.hoteldetail_roomdetail {
    color: #333333;
    font-size: 15px;
    margin-bottom: 10px;
}

.hoteldetail_roommemo {
    color: #333333;
}