@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}
.findid_titlebox {
    font-family: 'GmarketSansMedium';
    margin: 180px auto 0 auto;
    text-align: center;
    width: 600px;
    height: 400px;
}
.findid_title {
    display: block;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 35px;
}
.findid_subjectbox {
    display: table-cell;
    vertical-align: middle;
    background-color: #f9f9f9;
    width: 600px;
    height: 300px;
}

.findid_span {
    display: block;
    font-size: 20px;
}

.findid_subject {
    font-weight: bold;
    margin: 0 0 10px 0;
}

.findid_text {
    margin-bottom: 30px;
}

#findid_gomain {
    padding: 0;
    width: 200px;
    background-color: black;
    font-size: 15px;
    border: none;
    color: white;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    border: 1px solid black;
}
#findid_gomain:focus{
    outline: none;
    background-color: white;
    color: black;
}
#findid_gomain:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
}