@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body{
    margin: 0;
}
.findidpw_mainbox {
    font-family: 'GmarketSansMedium';
    margin: 180px auto 0 auto;
    text-align: center;
    width: 900px;
    height: 600px;
}

.findidpw_titlebox{
    margin-bottom: 60px;
}

.findidpw_title {
    font-size: 35px;
    font-weight: bold;
}

.findidpw_selectbox {
    margin-bottom: 50px;
}

.findidpw_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.findidpw_select {
    display: inline-block;
    width: 300px;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
}

#findidpw_findid {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    color: black;
}

#findidpw_findpw {
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid black;
    color: #cccccc;
}

.findidpw_textbox {
    margin: 50px 0 30px 0;
}

#findidpw_text {
    font-size: 15px;
}

.findidpw_fullemail{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.findidpw_inputbox {
    padding-left: 30px;
    float: left;
}

#findidpw_id {
    display: block;
}

.findidpw_input {
    width: 200px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 0 0 0 10px;
}

#at{
    margin: 0 6px 0 5px;
    line-height: 50px;
}

.findidpw_input:focus {
    outline: none;
}

.findidpw_selectbox {
    margin-bottom: 0;
}

#findidpw_select_domain {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-bottom: 1px solid black;
    margin: 0 30px 0 30px;
    background: #ffffff url("/photo/arrow_196221.png") no-repeat;
    background-size: 10px 10px;
    background-position: 96% center;
    overflow: hidden;
    cursor: pointer;
}

#findidpw_custom_option {
    width: 200px;
    height: 150px;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    display: none;
    background-color: white;
    text-align: left;
    padding-left: 0;
    border: 1px solid black;
    border-top: none;
}

#findidpw_custom_option li {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

#findidpw_custom_option li:hover {
    background-color: #eeeeee;
}

.findidpw_emailcodebox{
    float: left;
}

#findidpw_timer {
    margin: 0 35px 0 25px;
}

#findidpw_chkcode, #findidpw_sendmail {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
}

#findidpw_chkcode:focus, #findidpw_sendmail:focus  {
    outline: none;
    color: black;
    background-color: white;
}

#findidpw_chkcode:hover, #findidpw_sendmail:hover  {
    color: black;
    background-color: white;
}
