@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
}

a {
    text-decoration: none;
    color: #444444;
}

a:hover {
    color: #444444;
}

#login_main {
    font-family: 'GmarketSansMedium';
    margin: 180px auto 0 auto;
    width: 1200px;
    height: 600px;
}

#login_title {
    margin-bottom: 10px;
}

#login_maintitle {
    font-family: "Playfair Display", serif;
    display: block;
    font-size: 45px;
    font-weight: bold;
}

#login_select_barbox {
    text-align: center;
    margin-bottom: 100px;
}

#login_select_bar {
    margin: 0;
    padding: 0;
    list-style: none;
}

.login_select {
    display: inline-block;
    width: 600px;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
}

#login_login_select {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#login_nomember_select {
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid black;
    color: #cccccc;
}

#login_login_subject {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin-bottom: 100px;
}

#login_member_login {
    width: 600px;
}
#login_id {
    margin-bottom: 10px;
}

.login_input {
    display: block;
    border: none;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    width: 550px;
    height: 60px;
    padding-left: 10px;
}

.login_input:focus {
    outline: 1px solid black;
}

#access {
    margin: 15px 0 15px 0;
    display: block;
    width: 550px;
    height: 60px;
    background-color: black;
    border: 1px solid black;
    color: white;
}
#access:focus {
    outline: none;
    background-color: white;
    color: black;
}

#access:hover {
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.login_subtext {
    display: block;
    color: #666666;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: left;
}

#login_joinlink {
    margin-right: 20px;
}


#login_social_login {
    text-align: right;
    width: 600px;
}

#kakao_login {
    background-image: url("/photo/kakaoicon.png");
    background-color: #F7DE10;
    background-position: 1.5%;
    background-size: 43px 43px;
    background-repeat: no-repeat;
    border: 1px solid #F7DE10;
    width: 550px;
    height: 60px;
    margin-bottom: 10px;
}

#naver_loginbox {
    border: 1px solid #1EC800;
    width: 550px;
    height: 60px;
}

#naver_loginwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


#naver_loginbox span {
    width: 490px;
}

#login_bottom_textbox {
}

#login_bottom_text {
    list-style-type: circle;
    font-size: 14px;
    padding-left: 0;
    color: #aaaaaa;
}

#login_reservation {
    display: none;
}

#nomembersearchbox {
    width: 700px;
    margin: 0 auto 100px auto;
    text-align: center;
}

#login_book_searchnum {
    margin-bottom: 10px;
}

.login_booksearch_input {
    width: 700px;
    margin-bottom: 30px;
}

#booksearch{
    background-color: black;
    color: white;
    border: 1px solid black;
    width: 700px;
    height: 60px;
    margin: 15px 0 15px 0;
}
#booksearch:focus {
    outline: none;
    background-color: white;
    color: black;
}
#booksearch:hover {
    background-color: white;
    color: black;
    transition: all 0.5s;
}